<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Weather report of <%= qq %> : </h1>
    <h2>The temperature in the <%= temp %>°C</h2>
    <img src="https://openweathermap.org/img/wn/<%= icon %>@2x.png" height="300px">
    <h2><%= weatherDiscription %></h2>
</body>
</html>